@media (max-width: 1164px) {
    .hero{
        &__doctor-experience{
            font-size: 22px;
            line-height: 24px;
            // right: unset;
            top: -18px;
        }

        &__promo--old-price{
            font-size: 12px;
            line-height: 16px;
        }

        &__promo--new-price{
            font-size: 18px;

        }

        &__doctor-info--text{
            font-size: 16px;
            line-height: 20px;
            padding: 4px;
            padding-right: 16px;
        }
    }
}

@media (max-width: 1040px) {
    .hero{
        &__doctor-experience{
            right: unset;
            top: -22px;
            left: -142px;
        }
    }
}

@media (max-width: 438px) {
    .hero{
        &__doctor-experience{
            left: calc(-1 * ((100dvw - 219px) - (((100dvw - 219px) / 2) - 33px)));
        }
    }
}