@use '../../../../mixins/colors.scss';
@use '../../../../mixins/fonts.scss';
@use 'sass:map';

.hero{
    &__doctor-experience{
        @include fonts.Noto-sans(24px, 500, 32px, 0px);
        color: map.get(colors.$colors, white);
        background-color: rgba(122, 95, 211, 1);
        padding: 6px 16px;
        border-radius: 16px;
        position: absolute;
        top: -22px;
        right: -130px;
    }

    &__doctor-surname{
        @include fonts.Noto-sans(20px, 700, 24px, -1px);
        color: map.get(colors.$colors, secondary);
    }

    &__doctor-firstname{
        @include fonts.Noto-sans(14px, 400, 20px, 0.25px);
        color: map.get(colors.$colors, secondary);
        margin-bottom: 8px;
    }

    &__doctor-job{
        @include fonts.Noto-sans(12px, 400, 16px, 0.4px);
        color: map.get(colors.$colors, secondary);
    }

    &__promo--old-price{
        @include fonts.Noto-sans(14px, 500px, 20px, -0.5px);
        color: map.get(colors.$colors, secondary);
        text-decoration: line-through;
    }

    &__promo--new-price{
        @include fonts.Noto-sans(20px, 600, 24px, -1px);
        color: map.get(colors.$colors, secondary);
    }

    &__promo-data{
        @include fonts.Manrope(14px, 700, 17.22px, 0em);
        color: map.get(colors.$colors, white);
        padding: 10px 16px;
        border-radius: 16px;
        background-color: map.get(colors.$colors, secondary);
    }

    &__doctor-info--text{
        @include fonts.Noto-sans(20px, 400, 24px, 0px);
        color: map.get(colors.$colors, secondary);
        display: flex;
        gap: 4px;
        padding: 6px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        align-items: center;
        width: fit-content;
    }

    &__doctor-info--text_white{
        @include fonts.Noto-sans(14px, 600, 100%, -0.5px);
        color: rgba(255, 255, 255, 1);
    }
}