@media (max-width: 1590px) {
    .hero{
        &__new-tooth{
            margin-left: 44px;
        }
    }       
}

@media (max-width: 1460px) {
    .hero{
        &__new-tooth{
            position: absolute;
            margin-left: 0px;
            left: 44px;
        }
    }
}

@media (max-width: 1366px) {
    .hero{
        &__new-tooth{
            margin-top: 30px;
            left: 30px;
        }
    }
}