.hero{
    &__doctor-fio{
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        padding: 16px;
        position: absolute;
        top: 165px;
        right: -117px;
    }   
}