@use '../../../../mixins/fonts.scss';
@use '../../../../mixins/colors.scss';
@use 'sass:map';

.hero{
    &__gift--text1{
        @include fonts.Manrope(20px, 400, 100%, 0em);
        color: map.get(colors.$colors, white);
        align-self: flex-end
    }

    &__gift--text2{
        @include fonts.Noto-sans(29px, 500, 100%, -1px);
        color: map.get(colors.$colors, white);
    }

    &__list-item--text{
        @include fonts.Noto-sans(16px, 400, 24px, 0px);
        color: map.get(colors.$colors, white);
        border-radius: 16px;
        padding: 6px 16px;
        background-color: rgba(30, 134, 62, 1);
        width: fit-content;
    }
}

@media (max-width: 1164px) {
    .hero{
        &__gift--text2{
            font-size: 22px;
            text-align: right;
        }

        &__list-item--text{
            text-align: center;
            width: 100%;
            padding: 6px;
            font-size: 12px;
            letter-spacing: -0.5px;
        }
    }
}